html {
    scroll-behavior: smooth;  }

body {
    background-image: linear-gradient(200deg, white, rgb(245, 245, 245), 
    rgb(231, 230, 230), rgb(243, 236, 236), rgb(255, 255, 255));  }

.navcol {
    background-color: #c0c0c094;
    box-shadow: 0 4px 2px -2px gray;  }

#logo {
    height: 50px;
    width: 50px;
    border-radius: 5%;  }

.jumpLink {
    margin-left: 20px;  }

.social {
    height: 40px;
    width: 40px;  }

#topContainer {
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
    background-image: linear-gradient(120deg, white, rgb(245, 245, 245), rgb(231, 230, 230), rgb(243, 236, 236), rgb(255, 255, 255));
    margin-bottom: 2%;
    border-radius: 1%;
    box-shadow: 0px 3px 8px rgb(100,100,100);  }

.hdr {
    text-align: center;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    margin-bottom: 5%;  }

.mainFont {
    font-family: 'Coming Soon', cursive;
    font-size: 5.5vw; 
    color: #1c6623;
    font-weight: 900;
    padding: 10px;  }

#quote {
    text-align: center;
    color: rgb(93, 93, 93);;
    width: 80%;
    margin: auto;
    padding: 10px;  }

#heroImage  {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin: 5px;
    margin-left: 27px;
    box-shadow: 5px 5px 8px 2px #e0e0df;
    border-radius: 2%;  }

#directions {
    display: inline-block;
    width: 44.9%;
    margin: 5px;
    padding: 3px;
    vertical-align: top;
    font-weight: lighter;
    line-height: 1.2;  }    

#directions ol {
    list-style: none; 
    counter-reset: li;  }

#directions li::before {
    content: counter(li); 
    font-family: 'Kalam', cursive;
    font-weight: bolder;
    color: #1c6623;
    display: inline-block; width: 1em;
    margin-left: -1em;  }

#directions li {
    counter-increment: li;  }

.heading2 {
    padding: 6px;
    width: 50%;
    border-radius: 2%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(93, 93, 93);
    box-shadow: 1px 0px 4px 0.2px rgb(167, 155, 133);
    margin: 3px;
    text-align: center;
    margin: auto;  }

#button {
    text-align: center; 
    margin: 10px;  }

button {
    background-color: #1c6623;
    color: rgb(241, 241, 241);
    border-radius: 1%;
    border: transparent;  }

#nutrition {
    display: none;
    margin: auto;
    text-align: center;  }

table {
    margin: auto;  }

td {
    text-align: center;
    width: 65px;
    box-shadow: 1px 0px 4px #8c8d8c;  }

tr {
    height: 40px;  }

#ingredients {
    display: inline-block;
    width: 24%;
    list-style-type: none;
    line-height: 2;
    padding: 3px;
    margin-top: 5px;
    font-weight: lighter;
    margin-bottom: 40px;
    box-shadow: 0 0 5px rgba(85, 84, 84, 0.5);;
    border-radius: 2%;  }

    #ingredients h2 {
        margin-bottom: 10px;
    }
    
#ingredients em {
    font-family: 'Kalam', cursive;
    font-weight: bolder;
    color: #1c6623;  }

#diff {
    box-shadow: none;  }

hr {
    background-color: #1c6623;
    border: 0 none;
    height: 5px;
    width: 92%;
    border-radius: 25%;
    margin: 40px;  }

#stepText {
    width: 94%;
    margin: auto;  }
    
.describe {
    display: inline-block;
    margin: auto;
    width: 23.5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: rgb(93, 93, 93);;
    font-size: 12.5px;  }

#imageWrapper {
    width: 94%;
    margin: auto;  }

#imageWrapper img {
    display: inline-block;
    width: 23.5%;
    margin: 5px;
    height: 250px;
    border-radius: 2%;  }

.video { 
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1%;
    width: 90%;
    height: 40vw;  }

footer {
    background-color: rgba(31, 124, 36, 0.678);
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;  }

footer p {
    display: inline-block;
    width: 60%;
    padding: 10px;
    color: rgb(37, 37, 37);
    margin-bottom: 0px;  }

#Contact {
    display: inline-block;
    width: 30%;
    vertical-align: top;  }

#Contact b {
    display: inline-block;
    margin: 8px;
    color: rgb(54, 54, 54);  }

#Contact img {
    height: 30px;
    width: 30px;
    margin-right: 10px;  }
