html {
    scroll-behavior: smooth;  }

body {
    background-image: linear-gradient(200deg, white, rgb(245, 245, 245), 
    rgb(231, 230, 230), rgb(243, 236, 236), rgb(255, 255, 255));  }

.navcol {
    background-color: #c0c0c094;
    box-shadow: 0 4px 2px -2px gray;  }

#logo {
    height: 50px;
    width: 50px;
    border-radius: 5%;  }

.jumpLink {
    margin-left: 20px;  }

.social {
    height: 40px;
    width: 40px;  }

#topContainer {
    width: 95%;
    margin: 0 auto;
    margin-top: 2%;
    background-image: linear-gradient(120deg, white, rgb(245, 245, 245), rgb(231, 230, 230), rgb(243, 236, 236), rgb(255, 255, 255));
    margin-bottom: 2%;
    border-radius: 1%;
    box-shadow: 0px 3px 8px rgb(100,100,100);  }

.hdr {
    text-align: center;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    margin-bottom: 5%;  }

.mainFont {
    font-family: 'Coming Soon', cursive;
    font-size: 5.5vw; 
    color: #1c6623;
    font-weight: 900;
    padding: 10px;  }

#quote {
    text-align: center;
    color: rgb(93, 93, 93);;
    width: 80%;
    margin: auto;
    padding: 10px;  }

#heroImage  {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin: 5px;
    margin-left: 27px;
    box-shadow: 5px 5px 8px 2px #e0e0df;
    border-radius: 2%;  }

#directions {
    display: inline-block;
    width: 44.9%;
    margin: 5px;
    padding: 3px;
    vertical-align: top;
    font-weight: lighter;
    line-height: 1.2;  }    

#directions ol {
    list-style: none; 
    counter-reset: li;  }

#directions li::before {
    content: counter(li); 
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #1c6623;
    display: inline-block; width: 1em;
    margin-left: -1em;  }

#directions li {
    counter-increment: li;  }

.heading2 {
    padding: 6px;
    width: 50%;
    border-radius: 2%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(93, 93, 93);
    box-shadow: 1px 0px 4px 0.2px rgb(167, 155, 133);
    margin: 3px;
    text-align: center;
    margin: auto;  }

#button {
    text-align: center; 
    margin: 10px;  }

button {
    background-color: #1c6623;
    color: rgb(241, 241, 241);
    border-radius: 1%;
    border: transparent;  }

#nutrition {
    display: none;
    margin: auto;
    text-align: center;  }

table {
    margin: auto;  }

td {
    text-align: center;
    width: 65px;
    box-shadow: 1px 0px 4px #8c8d8c;  }

tr {
    height: 40px;  }

#ingredients {
    display: inline-block;
    width: 24%;
    list-style-type: none;
    line-height: 2;
    padding: 3px;
    margin-top: 5px;
    font-weight: lighter;
    margin-bottom: 40px;
    box-shadow: 0 0 5px rgba(85, 84, 84, 0.5);;
    border-radius: 2%;  }

    #ingredients h2 {
        margin-bottom: 10px;
    }
    
#ingredients em {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #1c6623;  }

#diff {
    box-shadow: none;  }

hr {
    background-color: #1c6623;
    border: 0 none;
    height: 5px;
    width: 92%;
    border-radius: 25%;
    margin: 40px;  }

#stepText {
    width: 94%;
    margin: auto;  }
    
.describe {
    display: inline-block;
    margin: auto;
    width: 23.5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: rgb(93, 93, 93);;
    font-size: 12.5px;  }

#imageWrapper {
    width: 94%;
    margin: auto;  }

#imageWrapper img {
    display: inline-block;
    width: 23.5%;
    margin: 5px;
    height: 250px;
    border-radius: 2%;  }

.video { 
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1%;
    width: 90%;
    height: 40vw;  }

footer {
    background-color: rgba(31, 124, 36, 0.678);
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;  }

footer p {
    display: inline-block;
    width: 60%;
    padding: 10px;
    color: rgb(37, 37, 37);
    margin-bottom: 0px;  }

#Contact {
    display: inline-block;
    width: 30%;
    vertical-align: top;  }

#Contact b {
    display: inline-block;
    margin: 8px;
    color: rgb(54, 54, 54);  }

#Contact img {
    height: 30px;
    width: 30px;
    margin-right: 10px;  }

    /* Media Queries start here */

@media screen and (max-width: 1440px) {

#imageWrapper {
    margin-bottom: 20px;  }

.video {
    display: block;
    width: 90%;
    height: 40vw;  }

#Contact {
    width: 28%;  }
}

@media screen and (max-width: 1024px) {

#heroImage {
    margin-left: 15px;
    width: 26%;  }

#directions {
    padding-right: 20px;
    margin-right: 0px;
    margin-left: 0px;  }

#ingredients {
    margin-right: 10px;  }

#imageWrapper img {
    width: 23%;
    margin-bottom: 20px;  }

.video {
    display: block;
    width: 90%;
    height: 40vw;  }

#Contact {
    width: 35%;  }
}

@media screen and (max-width: 900px) {

#heroImage {
    display: inline-block;
    width: 37%  }

#directions {
    display: inline-block;
    width: 53%;  }

#nutrition {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;  }

#ingredients {
    display: inline-block;
    width: 25%;
    margin-left: 27px;
    font-size: 14px;  }

hr {
    display: none;  }

#stepText {
    display: none;  }

#imageWrapper {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    margin-left: 20px;  }

#imageWrapper img {
    display: inline-block;
    width: 45%;
    height: 170px;   
    margin-bottom: 15px;
    margin-right: 15px;  }

.video {
    display: block;
    width: 90%;
    height: 40vw; }

footer p {
    width: 50%;  }

#Contact {
    width: 40%;  }
}

@media screen and (max-width: 768px) {

#heroImage {
    display: inline-block;
    width: 40%;  }

#directions {
    display: inline-block;
    width: 50%;  }

#ingredients {
    display: inline-block;
    width: 32%;
    margin-left: 20px;  }

hr {
    display: none;  }

#stepText {
    display: none;  }

#imageWrapper {
    display: inline-block;
    vertical-align: top;
    width: 58%;
    margin-left: 20px;  }

#imageWrapper img {
    display: inline-block;
    width: 43%;  }

.video {
display: block;
width: 90%;
height: 40vw;  }

footer p {
width: 47%;
font-size: smaller;  }

#Contact { 
width: 50%;  }
}

@media screen and (max-width: 600px) {

#topContainer {
    padding-top: 10px;  }

header {
    display: inline-block;
    width: 40%;  }

#quote {
    font-size: 22px;  }

#heroImage {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;  }

#ingredients {
    display: inline-block;
    width: 31%;
    margin-left: 5px;  }
.heading2 {
    width: 90%;  }

#directions {
    display: inline-block;
    width: 62%;  }

hr {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;  }

#imageWrapper {
    display:block;
    width: 92%;
    margin: auto;
    margin-bottom: 20px;  }

#imageWrapper > img {
    display: inline-block;
    width: 20.5%;
    height: 100px;
    margin-left: auto;  }

.video {
    display: block;
    width: 90%;
    height:40vw;  }

footer p {
    display: block;
    width: 90%;
    font-size: smaller;
    text-align: center;
    margin: auto;  }

#Contact {
    width: 90%;
    display: block;
    margin: auto;  }

#Contact b {
    margin-left: 0px;  }
}

@media screen and (max-width: 480px) {

header {
    display: block;
    width: 100%;  }

.mainFont {
    display: block;
    font-size: 47px;
    width: 90%;
    margin: auto;  }

#quote {
    width: 90%;
    display: block;  }

#heroImage {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;  }

#directions  {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;  }

#clickMe {
    display:block;
    margin: auto;
    margin-top: 20px;  }

#nutrition {
    margin-top: 20px;
    margin-bottom: 10px;  }

#ingredients {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 20px;  }

#imageWrapper {
    display: block;
    width: 92%;
    margin: auto;
    margin-bottom: 20px;  }

#imageWrapper img {
    display: inline-block;
    width: 43%;
    height: 140px;  }

hr {
    display: block;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;  }

#stepText {
    display: none;  }

.video {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    height: 140vw;  }

footer p {
    display: block;
    margin-left: 10px;
    width: 90%;  }

#Contact {
    width: 90%;
    display: block;
    margin: auto;  }
}

@media screen and (max-width: 320px) {

header {
    display: block;
    width: 90%;
    margin: auto;  }

.mainFont {
    display: block;
    width: 100%;
    font-size: 30px;  }

#quote {
    display: block;
    width: 100%;  }

#heroImage {
    display: block;
    width: 90%;
    margin-bottom: 20px;  }

#directions  {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;  }

ol {
    padding-left: 20px;  }

#clickMe {
    margin-top: 20px;  }

#nutrition {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    margin: auto;  }

#ingredients {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 20px;  }

#imageWrapper {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;  }

#imageWrapper img {
    display: inline-block;
    width: 43.5%;
    height: 90px;  }

hr {
    display: block;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;  }

#stepText {
    display: none;  }

.video {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;  }

footer p {
    display: block;
    margin-left: 10px;
    width: 90%;  }

#Contact {
    width: 90%;
    display: block;
    margin: auto;  }
}

/* Media Queries End */



